<a href="https://colab.research.google.com/github/Miggsc/content-ops-starter/blob/main/class_notebooks/02_saving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Saving for Retirement
- Let's assume we want to save $10,000 every year
- Our initial balance is zero
- How much would our account grow over 30 years if we earn a rate of 5%?

In [1]:
import numpy as np
import pandas as pd
!pip install numpy_financial
import numpy_financial as npf
import plotly.graph_objects as go

Collecting numpy_financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.11/dist-packages (from numpy_financial) (1.26.4)
Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Installing collected packages: numpy_financial
Successfully installed numpy_financial-1.0.0

In [2]:
RATE     = 0.08
N_SAVING = 30
PMT      = 10000.0
PV       = 0.0

acct = pd.DataFrame(dtype=float,columns=['begbal','capgain','deposit','endbal'],index=np.arange(1,N_SAVING+1))
acct.deposit = PMT
for t in acct.index:
    if t==1:
        acct.loc[t,'begbal'] = PV
    else:
        acct.loc[t,'begbal'] = acct.loc[t-1,'endbal']
    acct.loc[t,'capgain'] = acct.loc[t,'begbal']*RATE
    acct.loc[t,'endbal'] = acct.loc[t,'begbal'] + acct.loc[t,'capgain'] + acct.loc[t,'deposit']

pd.options.display.float_format = '${:,.2f}'.format
acct

          begbal    capgain    deposit        endbal
1          $0.00      $0.00 $10,000.00    $10,000.00
2     $10,000.00    $800.00 $10,000.00    $20,800.00
3     $20,800.00  $1,664.00 $10,000.00    $32,464.00
4     $32,464.00  $2,597.12 $10,000.00    $45,061.12
5     $45,061.12  $3,604.89 $10,000.00    $58,666.01
6     $58,666.01  $4,693.28 $10,000.00    $73,359.29
7     $73,359.29  $5,868.74 $10,000.00    $89,228.03
8     $89,228.03  $7,138.24 $10,000.00   $106,366.28
9    $106,366.28  $8,509.30 $10,000.00   $124,875.58
10   $124,875.58  $9,990.05 $10,000.00   $144,865.62
11   $144,865.62 $11,589.25 $10,000.00   $166,454.87
12   $166,454.87 $13,316.39 $10,000.00   $189,771.26
13   $189,771.26 $15,181.70 $10,000.00   $214,952.97
14   $214,952.97 $17,196.24 $10,000.00   $242,149.20
15   $242,149.20 $19,371.94 $10,000.00   $271,521.14
16   $271,521.14 $21,721.69 $10,000.00   $303,242.83
17   $303,242.83 $24,259.43 $10,000.00   $337,502.26
18   $337,502.26 $27,000.18 $10,000.00   $374,502.44
19   $374,502.44 $29,960.19 $10,000.00   $414,462.63
20   $414,462.63 $33,157.01 $10,000.00   $457,619.64
21   $457,619.64 $36,609.57 $10,000.00   $504,229.21
22   $504,229.21 $40,338.34 $10,000.00   $554,567.55
23   $554,567.55 $44,365.40 $10,000.00   $608,932.96
24   $608,932.96 $48,714.64 $10,000.00   $667,647.59
25   $667,647.59 $53,411.81 $10,000.00   $731,059.40
26   $731,059.40 $58,484.75 $10,000.00   $799,544.15
27   $799,544.15 $63,963.53 $10,000.00   $873,507.68
28   $873,507.68 $69,880.61 $10,000.00   $953,388.30
29   $953,388.30 $76,271.06 $10,000.00 $1,039,659.36
30 $1,039,659.36 $83,172.75 $10,000.00 $1,132,832.11

In [ ]:
# Of course, we could do this in one step using a financial function
npf.fv(RATE, N_SAVING, -PMT, -PV)

664388.4750301335

## Required savings

Let's consider how much we would need to save each year in order to have a certain retirement consumption.

In [5]:
# If we wanted to be able to withdraw $W=100,000 each year for 20 years,
# how much do we need to save for the first 30 years

RATE     = 0.05
WITHDRAWAL = 100000.0
N_WITHDRAW = 20

In [6]:
# First, we find how much we'd need to have saved as of t=30:

end_savings_bal = npf.pv(RATE,N_WITHDRAW,-WITHDRAWAL,0)
print(f'{end_savings_bal:,.2f}')

1,246,221.03

In [7]:
# Second, we solve a PMT problem to determine the amount we need to save:

pmt = npf.pmt(RATE,N_SAVING,PV,-end_savings_bal)
print(f'{pmt:,.2f}')

18,757.41

In [ ]:
#Let's set up a bank account to make sure we are getting a zero ending balance

acct = pd.DataFrame(dtype=float,columns=['begbal','capgain','deposit','withdraw','endbal'],index=np.arange(1,N_SAVING + N_WITHDRAW + 1))
acct.deposit = np.where(acct.index <= N_SAVING, pmt, 0)
acct.withdraw= np.where(acct.index > N_SAVING, -WITHDRAWAL,0)
for t in acct.index:
    if t==1:
        acct.loc[t,'begbal'] = PV
    else:
        acct.loc[t,'begbal'] = acct.loc[t-1,'endbal']
    acct.loc[t,'capgain'] = acct.loc[t,'begbal']*RATE
    acct.loc[t,'endbal']  = acct.loc[t,'begbal'] + acct.loc[t,'capgain'] + acct.loc[t,'deposit'] + acct.loc[t,'withdraw']
acct

          begbal    capgain    deposit     withdraw        endbal
1          $0.00      $0.00 $18,757.41        $0.00    $18,757.41
2     $18,757.41    $937.87 $18,757.41        $0.00    $38,452.70
3     $38,452.70  $1,922.64 $18,757.41        $0.00    $59,132.75
4     $59,132.75  $2,956.64 $18,757.41        $0.00    $80,846.80
5     $80,846.80  $4,042.34 $18,757.41        $0.00   $103,646.56
6    $103,646.56  $5,182.33 $18,757.41        $0.00   $127,586.30
7    $127,586.30  $6,379.32 $18,757.41        $0.00   $152,723.03
8    $152,723.03  $7,636.15 $18,757.41        $0.00   $179,116.60
9    $179,116.60  $8,955.83 $18,757.41        $0.00   $206,829.84
10   $206,829.84 $10,341.49 $18,757.41        $0.00   $235,928.75
11   $235,928.75 $11,796.44 $18,757.41        $0.00   $266,482.60
12   $266,482.60 $13,324.13 $18,757.41        $0.00   $298,564.15
13   $298,564.15 $14,928.21 $18,757.41        $0.00   $332,249.77
14   $332,249.77 $16,612.49 $18,757.41        $0.00   $367,619.67
15   $367,619.67 $18,380.98 $18,757.41        $0.00   $404,758.07
16   $404,758.07 $20,237.90 $18,757.41        $0.00   $443,753.39
17   $443,753.39 $22,187.67 $18,757.41        $0.00   $484,698.48
18   $484,698.48 $24,234.92 $18,757.41        $0.00   $527,690.81
19   $527,690.81 $26,384.54 $18,757.41        $0.00   $572,832.77
20   $572,832.77 $28,641.64 $18,757.41        $0.00   $620,231.82
21   $620,231.82 $31,011.59 $18,757.41        $0.00   $670,000.83
22   $670,000.83 $33,500.04 $18,757.41        $0.00   $722,258.29
23   $722,258.29 $36,112.91 $18,757.41        $0.00   $777,128.62
24   $777,128.62 $38,856.43 $18,757.41        $0.00   $834,742.46
25   $834,742.46 $41,737.12 $18,757.41        $0.00   $895,237.00
26   $895,237.00 $44,761.85 $18,757.41        $0.00   $958,756.26
27   $958,756.26 $47,937.81 $18,757.41        $0.00 $1,025,451.49
28 $1,025,451.49 $51,272.57 $18,757.41        $0.00 $1,095,481.48
29 $1,095,481.48 $54,774.07 $18,757.41        $0.00 $1,169,012.97
30 $1,169,012.97 $58,450.65 $18,757.41        $0.00 $1,246,221.03
31 $1,246,221.03 $62,311.05      $0.00 $-100,000.00 $1,208,532.09
32 $1,208,532.09 $60,426.60      $0.00 $-100,000.00 $1,168,958.69
33 $1,168,958.69 $58,447.93      $0.00 $-100,000.00 $1,127,406.62
34 $1,127,406.62 $56,370.33      $0.00 $-100,000.00 $1,083,776.96
35 $1,083,776.96 $54,188.85      $0.00 $-100,000.00 $1,037,965.80
36 $1,037,965.80 $51,898.29      $0.00 $-100,000.00   $989,864.09
37   $989,864.09 $49,493.20      $0.00 $-100,000.00   $939,357.30
38   $939,357.30 $46,967.86      $0.00 $-100,000.00   $886,325.16
39   $886,325.16 $44,316.26      $0.00 $-100,000.00   $830,641.42
40   $830,641.42 $41,532.07      $0.00 $-100,000.00   $772,173.49
41   $772,173.49 $38,608.67      $0.00 $-100,000.00   $710,782.17
42   $710,782.17 $35,539.11      $0.00 $-100,000.00   $646,321.28
43   $646,321.28 $32,316.06      $0.00 $-100,000.00   $578,637.34
44   $578,637.34 $28,931.87      $0.00 $-100,000.00   $507,569.21
45   $507,569.21 $25,378.46      $0.00 $-100,000.00   $432,947.67
46   $432,947.67 $21,647.38      $0.00 $-100,000.00   $354,595.05
47   $354,595.05 $17,729.75      $0.00 $-100,000.00   $272,324.80
48   $272,324.80 $13,616.24      $0.00 $-100,000.00   $185,941.04
49   $185,941.04  $9,297.05      $0.00 $-100,000.00    $95,238.10
50    $95,238.10  $4,761.90      $0.00 $-100,000.00        $-0.00